<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="NUM_LIGHTS" value="7"/>
    <add key="DISCOVERY_TIMEOUT_MS" value="20000"/>
    <add key="COMMAND_TIMEOUT_MS" value="10000"/>
    <add key="COMMAND_DELAY_MS" value="5"/>
  </appSettings>
</configuration>